
body{
    margin: 0;
    height: 5000px;
    background-color: white;
}
main{
    width: 100%;
    position: relative;

    header{
   
      
      
                    
       
        border-radius: 204px;
        margin: 0;
        padding: 24px;
       
    
        transition: all .4s ease-out;
    
      

        .header-conteudo{
    
            width: 100%;
            height: 600px;
        }
       
    }
}
nav{
    position: fixed;
    background-color: black;
    color: white;

    border-radius: 24px;
    
    transition: all .4s ease-out;

    z-index: 1;

}
@media screen and (min-width:1024px) {
    
    main{

        header{
           
            width: auto;
            height: 600px;

            background-color: grey;

            margin-left:14vw ;

            z-index: 0;
        }
    }
    nav{
        width: 12vw;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    nav button{
        position: absolute;
    
        left: 0px;
        
    
        background-color: blue;
        color: white;
    
        box-shadow: 0 0 0px 10px white;
    
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 24px;
    
        
        
    }
    .header-click{

        margin-left: 47vw;
        transition: all .4s ease-out;
    }
    .nav-click{
        width: 45vw;
        transition: all .4s ease-out;
    }
    
}

@media screen and (max-width: 768px){

    main{
        display: flex;
        align-items: center;
        background-color: grey;
        header{
            width: 100%;
            
            background-color: green;
        }
    }
    nav{
        width: 100%;
        height: 100px;
        margin: 5px;
       
    }
    nav button{
        display: none;
    }

}