body {
  margin: 0;
  min-height: 100vh;
  color: whitesmoke;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: fixed;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.211);
  color: white;
  transition: all 0.4s ease-out;
  z-index: 1;
}
nav .li-icons {
  cursor: pointer;
}

#bola {
  color: white;
  background-image: url(/images/background-video.mp4);
  background-position: center 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#bola img {
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  nav {
    width: 85px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .ul-icons {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .ul-icons .li-icons {
    font-size: 30px;
    list-style-type: none;
  }
  nav .ul-text {
    display: none;
    width: 200px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 100px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease;
  }
  nav .ul-text .li-text {
    font-size: 36px;
    list-style-type: none;
  }
  nav button {
    background-color: blue;
    color: white;
    box-shadow: 0 0 0px 10px black;
    width: 90px;
    height: 70px;
    border: none;
    border-radius: 24px;
  }
  .conteudo-click {
    margin-left: 325px;
    transition: all 0.4s ease-out;
    background-color: white;
  }
  .nav-click {
    width: 300px;
    transition: all 0.4s ease-out;
  }
  .nav-click .ul-text {
    display: flex;
    transition: all 1s ease;
  }
  #bola {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  #bola a {
    color: rgb(132, 86, 86);
    border-radius: 50%;
    padding: 60px;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  #bola a:hover {
    box-shadow: 0px -30px 100px 40px rgba(128, 0, 75, 0.757);
    background-color: 75, 0, 30, 0.471;
    color: white;
    transition: all 0.6s ease;
  }
}
@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    bottom: 0px;
  }
  nav .ul-icons {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  nav .ul-icons .li-icons {
    font-size: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #bola {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  #bola a {
    box-shadow: 0px -30px 100px 40px rgba(128, 0, 75, 0.757);
    border-radius: 100px;
    padding: 30px;
  }
  nav button {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
