
body{
    margin: 0;
    height: 5000px;
    background-color: white;
}

nav{
    position: fixed;

    background-color: black;
    color: white;

    border-radius: 24px;

    transition: all .4s ease-out;

    z-index: 1;

}
@media screen and (min-width:1024px) {
    
  
    nav{
        width:100px;
        height: 97%;

        margin: 1%;

        display: flex;
        flex-direction: column;
        align-items: center;
        

        .ul-icons{

            width: 100%;
            height: 500px;

            position: absolute;
            top: 100px;
            left: 25px;

          
            
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
            .li-icons{
                font-size: 50px;

                list-style-type: none;
            }
        }
        .ul-text{
            display: none;

            width: 200px;
            height: 500px;



            position: absolute;
            top: 100px;
            left: 100px;

                 
            margin: 0;
            padding: 0;

            flex-direction: column;
            justify-content:space-between;
            
            

            transition: all 1s ease;
            .li-text{
                font-size: 36px;
             
                list-style-type: none;
            }
        }
        
    }
    nav button{
        
    
        background-color: blue;
        color: white;
    
        box-shadow: 0 0 0px 10px white;
    
        width: 90px;
        height: 70px;
        border: none;
        border-radius: 24px;
    
        
        
    }
    .conteudo-click{

        margin-left: 325px;
        transition: all .4s ease-out;
        background-color: white;
    }
    .nav-click{
        width: 300px;
        transition: all .4s ease-out;
        .ul-text{
            display: flex;
            transition: all 1s ease;
        }

    }
    #conteudo{
      
        margin-left: 125px;
        
        height: 1000px;
        background-color: grey;
    }
    
}

@media screen and (max-width: 768px){

    nav{
        width: 100%;
        height: 100px;
        
        margin: 0;
        bottom: 0px;

        .ul-icons{
         

            width: 100vw;
            height: 100%;
            
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: space-evenly;



            .li-icons{
                font-size: 45px;

                list-style-type: none;
            }
            
        }
        .ul-text{
            display: none;
        }
        
       
    }

    nav button{
        display: none;
    }
    #conteudo{
        width: 100vw;
        height: 1000px;
        background-color: rgb(127, 127, 127);
    }
}